.card {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #242526;
  border-radius: 1rem;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.title {
  padding: 1rem;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
}

.card:hover {
  opacity: 1;
}
